[submodule "Client-Part-SOAP-WSDL-JAWRS"]
	path = Client-Part-SOAP-WSDL-JAWRS
	url = https://github.com/DaddaFarouk/Client-Part-SOAP-WSDL-JAWRS
[submodule "Server-Part-SOAP-WSDL-JAWRS"]
	path = Server-Part-SOAP-WSDL-JAWRS
	url = https://github.com/DaddaFarouk/Server-Part-SOAP-WSDL-JAWRS
